<%- if controller_name != 'sessions' %>
  <%= link_to "<span class='glyphicon glyphicon-user'></span> #{t('sign_in')}".html_safe, new_user_session_path ,class: 'btn btn-primary btn-lg' %><br /><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> #{t('sign_up')}".html_safe, new_user_registration_path, class: 'btn btn-lg btn-success' %><br /><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "<span class='glyphicon glyphicon-question-sign'></span> #{t('forgot_password')}".html_safe, new_password_path(resource_name), class: 'btn btn-lg btn-danger' %><br /><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "<span class='glyphicon glyphicon-envelope'></span> #{t('resend_confirmation')}".html_safe, new_confirmation_path(resource_name), class: 'btn btn-lg btn-success' %><br /><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "<span class='glyphicon glyphicon-envelope'></span> #{t('resend_unlock_instructions')}".html_safe, new_unlock_path(resource_name), class: 'btn btn-lg btn-danger' %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
