.col-md-3
.col-md-6
  .content
    .text-center
      = image_tag @user.avatar_url(:smaller), class: 'img-circle smaller'
      %h1= @user.name
      - if @user.company and !@user.company.blank?
        %h4
          %i= @user.company
      - if @user.description and !@user.description.blank?
        %br
        %h3= simple_format @user.description
        %br
      - if @user.website and !@user.website.blank?
        %h4
          = t('website') + ': '
          = auto_link @user.website
      - if @user.phone and !@user.phone.blank?
        %h4= "#{t('phone_number')}: #{@user.phone}"
      - if @user.address and !@user.address.blank?
        %h4= "#{t('address')}: #{@user.address}"
      - if !@user.is_employer and @user.resume and !@user.resume.blank?
        %h3.text-center= link_to t('resume'), @user.resume_url
      - if @user != current_user
        %br
        %br
        = link_to t('contact'), show_user_contact_page_path(username: @user.username), class: 'btn btn-lg btn-primary'
        %br
      %br
    - if @user == current_user
      .text-center
        %button{class: 'btn btn-success navbar-btn btn-lg', 'data-toggle' => "modal", 'data-target' => "#myModal"}
          = current_user.is_employer ? t('new_job') : t('new_work')
          %span.glyphicon.glyphicon-plus
    - if @user.is_employer
      .text-center
        %h2= t('jobs')
        - @jobs.each do |j|
          %h2
            = link_to j.title, show_job_path(id: j.id)
          - if j.url
            = auto_link j.url
          %p= truncate(j.description, length: 50)
          - if @user == current_user
            = link_to t('edit'), edit_job_path(id: j.id)
            %br
            = link_to t('delete'), destroy_job_path(id: j.id), method: :delete
        - if @jobs.count == 0
          %i= t('nothing_here')
    - else
      .text-center
        %h2= t('works')
        - @works.each do |w|
          %h2
            %a{href: w.url}= w.title
          %p= simple_format w.description
          - if current_user == w.user
            = link_to t('edit'), edit_work_path(id: w.id)
            %br
            = link_to t('delete'), destroy_work_path(id: w.id), method: :delete
        - if @works.count == 0
          %i= t('nothing_here')
      %br

    - if @user == current_user
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only= t('close')
              %h4#myModalLabel.modal-title.text-center= current_user.is_employer ? t('new_job') : t('new_work')
            .modal-body
              - if current_user.is_employer
                = form_for @job, url: create_job_path, remote: true do |f|
                  #job-title-group.form-group
                    = f.label :title, class: 'control-label'
                    = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('job_title_placeholder'), maxlength: 50
                  %br
                  .form-group
                    = f.label :url, class: 'control-label'
                    = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('website_placeholder'), maxlength: 100
                  %br
                  #job-description-group.form-group
                    = f.label :description, class: 'control-label'
                    = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('job_description_placeholder'), maxlength: 1000
                  %br
                  %div.text-center
                    %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('add')}".html_safe
              - else
                = form_for @work, url: create_work_path, remote: true do |f|
                  #work-title-group.form-group
                    = f.label :title, class: 'control-label'
                    = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_title_placeholder'), maxlength: 50
                  %br
                  #work-url-group.form-group
                    = f.label :url, class: 'control-label'
                    = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_url_placeholder'), maxlength: 100
                  %br
                  #work-description-group.form-group
                    = f.label :description, class: 'control-label'
                    = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('work_description_placeholder'), maxlength: 1000
                  %br
                  %div.text-center
                    %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('add')}".html_safe
        
.col-md-3
