.col-md-3
.col-md-6
  .content
    %h2.text-center= t('update_work')
    %br
    = form_for @work, url: update_work_path, method: :patch, remote: true do |f|
      #work-title-group.form-group
        = f.label :title, class: 'control-label'
        = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_title_placeholder')
      %br
      #work-url-group.form-group
        = f.label :url, class: 'control-label'
        = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_url_placeholder')
      %br
      #work-description-group.form-group
        = f.label :description, class: 'control-label'
        = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('work_description_placeholder')
      %br
      %div.text-center
        %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('save')}".html_safe
.col-md-3


