.col-md-3
.col-md-6
  .content
    %h2.text-center= t('update_job')
    %br
    = form_for @job, url: update_job_path, method: :patch, remote: true do |f|
      #job-title-group.form-group
        = f.label :title, class: 'control-label'
        = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('job_title_placeholder')
      %br
      .form-group
        = f.label :url, class: 'control-label'
        = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('website_placeholder'), maxlength: 100
      %br
      #job-description-group.form-group
        = f.label :description, class: 'control-label'
        = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('job_description_placeholder')
      %br
      %div.text-center
        %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('save')}".html_safe
.col-md-3

