.col-md-2
.col-md-8
  .content
    %h1.text-center= @job.title
    .text-center
      = image_tag @job.user.avatar_url(:thumb), class: 'img-circle thumb'
      - if @job.user.company and !@job.user.company.blank?
        = link_to "#{t('by')} #{@job.user.name} #{t('at')} #{@job.user.company}", show_user_path(username: @job.user.username)
      - else
        = link_to @job.user.name, show_user_path(username: @job.user.username)
    - if @job.url and !@job.url.blank?
      .text-center
        = auto_link @job.url
    %br
    - if user_signed_in?
      #watching_button.text-center
        - if @watching
          = link_to('<span class="glyphicon glyphicon-eye-close"></span>'.html_safe, destroy_watching_path(id: @watching.id), class: 'btn btn-lg btn-danger', method: :delete, remote: true)
        - else
          = link_to('<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, create_watching_path(id: @job.id), class: 'btn btn-lg btn-primary', method: :post, remote: true)
    .text-center
      %p= simple_format @job.description
.col-md-2

