.col-md-3
.col-md-6
  .content
    %h2.text-center= "#{t('edit')} #{resource_name.to_s.humanize}"

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

      %br
      = flash_errors(resource)

      %h3.text-center= t('account_details')

      - email_field = (f.label :email, t('email_label'), class: 'control-label') + (f.email_field :email, class: 'form-control input-lg', placeholder: t('email_placeholder'), autofocus: true)
      = error_for_field(resource, [:email]) { email_field }

      - password_field = (f.label :password, t('password_label'), class: 'control-label') + (f.password_field :password, class: 'form-control input-lg', autocomplete: false, placeholder: t('password_placeholder'))
      = error_for_field(resource, [:password]) { password_field }

      - password_confirmation_field = (f.label :password_confirmation, t('password_confirmation_label'), class: 'control-label') + (f.password_field :password_confirmation, class: 'form-control input-lg', autocomplete: false, placeholder: t('password_placeholder'))
      = error_for_field(resource, [:password_confirmation]) { password_confirmation_field }

      - username_field = (f.label :username, t('username_label'), class: 'control-label') + (f.text_field :username, class: 'form-control input-lg', placeholder: t('username_placeholder'), maxlength: 15)
      = error_for_field(resource, [:username]) { username_field }

      %br
      %h3.text-center= t('public_info')

      - name_field = (f.label :name, t('name_label'), class: 'control-label') + (f.text_field :name, class: 'form-control input-lg', placeholder: t('name_placeholder'), maxlength: 40)
      = error_for_field(resource, [:name]) { name_field }

      - company_field = (f.label :company, t('company_label'), class: 'control-label') + (f.text_field :company, class: 'form-control input-lg', placeholder: t('company_placeholder'), maxlength: 40)
      = error_for_field(resource, [:company]) { company_field }

      - description_field = (f.label :description, t('description_label'), class: 'control-label') + (f.text_area :description, class: 'form-control input-lg', placeholder: t('description_placeholder'), rows: 3, maxlength: 500)
      = error_for_field(resource, [:description]) { description_field }

      - website_field = (f.label :website, t('website_label'), class: 'control-label') + (f.text_field :website, class: 'form-control input-lg', placeholder: t('website_placeholder'), maxlength: 92)
      = error_for_field(resource, [:website]) { website_field }

      - address_field = (f.label :address, t('address_label'), class: 'control-label') + (f.text_field :address, class: 'form-control input-lg', placeholder: t('address_placeholder'), maxlength: 40)
      = error_for_field(resource, [:address]) { address_field }

      - phone_field = (f.label :phone, t('phone_label'), class: 'control-label') + (f.text_field :phone, class: 'form-control input-lg', placeholder: t('phone_placeholder'), maxlength: 20)
      = error_for_field(resource, [:phone]) { phone_field }


      - if current_user.avatar.blank?
        = f.label :avatar
        = f.file_field :avatar
      - else
        %br
        .text-center
          %h3= t('current_avatar')
          = image_tag current_user.avatar_url(:smaller), class: 'img-circle'
          %br
          = f.label :remove_avatar
          = f.check_box :remove_avatar

      - if !current_user.is_employer
        - if current_user.resume.blank?
          %br
          = f.label :resume
          = f.file_field :resume
        - else
          %br
          .text-center
            %h3= link_to t('current_resume'), current_user.resume_url
            = f.label :remove_resume
            = f.check_box :remove_resume
      

      %br
      %h2.text-center= t('validate')

      - current_password_field = (f.label :current_password, t('current_password_label'), class: 'control-label') + (f.password_field :current_password, class: 'form-control input-lg', autocomplete: false, placeholder: t('password_placeholder'))
      = error_for_field(resource, [:current_password]) { current_password_field }

      .text-center
        %button{type: 'submit', class: 'btn btn-lg btn-success'}
          %span.glyphicon.glyphicon-floppy-save
          = t('update')


      / <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      / <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      / <% end %>

    %br
    %h3.text-center= t('delete_account')

    %p.text-center
      \:(
      .text-center
        %button{class: 'btn btn-danger btn-lg', 'data-toggle' => "modal", 'data-target' => "#myDeleteModal"}
          %span.glyphicon.glyphicon-remove
          = t('delete')

      #myDeleteModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabelD", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only= t('close')
              %h4#myModalLabel.modal-title.text-center= t('delete_account')
            .modal-body
              %h2.text-center= t('are_you_sure')
              .text-center
                = t('delete_account_confirmation')
                %br
                %br
                = link_to "<span class='glyphicon glyphicon-remove'></span> #{t('delete_account')}".html_safe, registration_path(resource_name), class: 'btn btn-lg btn-danger', method: :delete
                %br
                %br

.col-md-3


