.col-md-3
.col-md-6
  .content
    %h2.text-center= t('sign_up')
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %br
      = resource_errors!

      %h3.text-center= t('account_details')

      - email_field = (f.label :email, t('email_label'), class: 'control-label') + (f.email_field :email, class: 'form-control input-lg', placeholder: t('email_placeholder'), autofocus: true)
      = error_for_field(resource, [:email]) { email_field }

      - password_field = (f.label :password, t('password_label'), class: 'control-label') + (f.password_field :password, class: 'form-control input-lg', autocomplete: false, placeholder: t('password_placeholder'))
      = error_for_field(resource, [:password]) { password_field }

      - password_confirmation_field = (f.label :password_confirmation, t('password_confirmation_label'), class: 'control-label') + (f.password_field :password_confirmation, class: 'form-control input-lg', autocomplete: false, placeholder: t('password_placeholder'))
      = error_for_field(resource, [:password_confirmation]) { password_confirmation_field }

      - username_field = (f.label :username, t('username_label'), class: 'control-label') + (f.text_field :username, class: 'form-control input-lg', placeholder: t('username_placeholder'), maxlength: 15)
      = error_for_field(resource, [:username]) { username_field }

      %br
      %h3.text-center= t('public_info')

      - name_field = (f.label :name, t('name_label'), class: 'control-label') + (f.text_field :name, class: 'form-control input-lg', placeholder: t('name_placeholder'), maxlength: 40)
      = error_for_field(resource, [:name]) { name_field }

      - company_field = (f.label :company, t('company_label'), class: 'control-label') + (f.text_field :company, class: 'form-control input-lg', placeholder: t('company_placeholder'), maxlength: 40)
      = error_for_field(resource, [:company]) { company_field }

      - website_field = (f.label :website, t('website_label'), class: 'control-label') + (f.text_field :website, class: 'form-control input-lg', placeholder: t('website_placeholder'), maxlength: 92)
      = error_for_field(resource, [:website]) { website_field }

      - address_field = (f.label :address, t('address_label'), class: 'control-label') + (f.text_field :address, class: 'form-control input-lg', placeholder: t('address_placeholder'), maxlength: 40)
      = error_for_field(resource, [:address]) { address_field }

      - phone_field = (f.label :phone, t('phone_label'), class: 'control-label') + (f.text_field :phone, class: 'form-control input-lg', placeholder: t('phone_placeholder'), maxlength: 20)
      = error_for_field(resource, [:phone]) { phone_field }

      .text-center
        - is_employer_field = (f.check_box :is_employer) + '  ' + (f.label :is_employer, t('is_employer_label'), class: 'control-label')
        = error_for_field(resource, [:is_employer]) { is_employer_field }

      .captcha-center
        = recaptcha_tags ajax: true, display: { ssl: true, theme: 'clean' , tabindex: 1, public_key: ENV['RECAPTCHA_PUBLIC_KEY'] }

      %br
      %div.text-center
        %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('sign_up')}".html_safe

    %br
    %h2.text-center= t('not_what_you_were_looking_for')
    %br
    %div.text-center= link_to "<span class='glyphicon glyphicon-user'></span> #{t('sign_in')}".html_safe, new_user_session_path ,class: 'btn btn-primary btn-lg'



.col-md-3
