!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "#{t('contact_request')}: #{@user.username} (#{@user.email}):"
    %p= simple_format @message
