- if current_user
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only= t('close')
          %h4#myModalLabel.modal-title.text-center= current_user.is_employer ? t('new_job') : t('new_work')
        .modal-body
          - if current_user.is_employer
            = form_for Job.new, url: create_job_path, remote: true do |f|
              #job-title-group.form-group
                = f.label :title, class: 'control-label'
                = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('job_title_placeholder'), maxlength: 50
              %br
              .form-group
                = f.label :url, class: 'control-label'
                = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('website_placeholder'), maxlength: 100
              %br
              #job-description-group.form-group
                = f.label :description, class: 'control-label'
                = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('job_description_placeholder'), maxlength: 1000
              %br
              %div.text-center
                %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('add')}".html_safe
          - else
            = form_for Work.new, url: create_work_path, remote: true do |f|
              #work-title-group.form-group
                = f.label :title, class: 'control-label'
                = f.text_field :title, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_title_placeholder'), maxlength: 50
              %br
              #work-url-group.form-group
                = f.label :url, class: 'control-label'
                = f.text_field :url, class: 'form-control input-lg', autocomplete: 'off', placeholder: t('work_url_placeholder'), maxlength: 100
              %br
              #work-description-group.form-group
                = f.label :description, class: 'control-label'
                = f.text_area :description, class: 'form-control input-lg', autocomplete: 'off', rows: 7, placeholder: t('work_description_placeholder'), maxlength: 1000
              %br
              %div.text-center
                %button{type: 'submit', class: 'btn btn-success btn-lg'}= "<span class='glyphicon glyphicon-plus'></span> #{t('add')}".html_safe
