.col-md-4
  - if current_user
    .content.text-center
      %h2= t('welcome')
      %h3
        = image_tag current_user.avatar_url(:smaller), class: 'img-circle smaller'
        = link_to t('your_profile'), show_user_path(username: current_user.username)
      %button{class: 'btn btn-success navbar-btn btn-lg', 'data-toggle' => "modal", 'data-target' => "#myModal"}
        = current_user.is_employer ? t('new_job') : t('new_work')
        %span.glyphicon.glyphicon-plus
  - else
    .content.text-center
      %h2= t('welcome')
      %br
      = link_to "<span class='glyphicon glyphicon-user'></span> #{t('sign_in')}".html_safe, new_user_session_path ,class: 'btn btn-primary btn-lg'
      %br
      %br
      = link_to "<span class='glyphicon glyphicon-plus'></span> #{t('sign_up')}".html_safe, new_user_registration_path, class: 'btn btn-lg btn-success'
  .content
    %h2.text-center= t('search')
    %br
    = form_tag({action: 'employer_search'}, {method: :get}) do
      = text_field_tag :q, '', placeholder: t('search_query_placeholder'), class: 'form-control input-lg', autofocus: true
      %br
      .text-center
        %button{type: 'submit', class: 'btn btn-lg btn-primary'}
          = '<span class="glyphicon glyphicon-search"></span>'.html_safe

.col-md-8
  .content
    %h1.text-center= t('employers')
    %br
    .text-center
      = will_paginate @users, param_name: :page
      - @users.each do |u|
        = image_tag u.avatar_url(:smaller), class: 'img-circle smaller'
        - if u.company and !u.company.blank?
          = link_to "#{u.name} (#{u.company})", show_user_path(username: u.username)
        - else
          = link_to u.name, show_user_path(username: u.username)
        %br
        %br
      %br
      = will_paginate @users, param_name: :page
      - if @users.count == 0
        %i= t('nothing_here')

= render file: 'browse/_modal.html.haml'

