.col-md-4
  - if current_user
    .content.text-center
      %h2= t('welcome')
      %h3
        = image_tag current_user.avatar_url(:smaller), class: 'img-circle smaller'
        = link_to t('your_profile'), show_user_path(username: current_user.username)
      %button{class: 'btn btn-success navbar-btn btn-lg', 'data-toggle' => "modal", 'data-target' => "#myModal"}
        = current_user.is_employer ? t('new_job') : t('new_work')
        %span.glyphicon.glyphicon-plus
  - else
    .content.text-center
      %h2= t('welcome')
      %br
      = link_to "<span class='glyphicon glyphicon-user'></span> #{t('sign_in')}".html_safe, new_user_session_path ,class: 'btn btn-primary btn-lg'
      %br
      %br
      = link_to "<span class='glyphicon glyphicon-plus'></span> #{t('sign_up')}".html_safe, new_user_registration_path, class: 'btn btn-lg btn-success'
  .content.text-center
    %h2.text-center= t('search')
    %br
    = form_tag({action: 'job_search'}, {method: :get}) do
      = text_field_tag :q, @q, placeholder: t('search_query_placeholder'), class: 'form-control input-lg', autofocus: true
      %br
      .text-center
        %button{type: 'submit', class: 'btn btn-lg btn-primary'}
          = '<span class="glyphicon glyphicon-search"></span>'.html_safe

.col-md-8
  .content
    %h1.text-center= "#{t('results_for')}: #{@q}"
    %br
    .text-center
      = will_paginate @jobs, param_name: :page
      - @jobs.each do |j|
        %h2
          = link_to j.title, show_job_path(id: j.id)
        %p= truncate(j.description, length: 50)
        = image_tag j.user.avatar_url(:thumb), class: 'img-circle thumb'
        - if j.user.company and !j.user.company.blank?
          = link_to "#{t('by')} #{j.user.name} #{t('at')} #{j.user.company}", show_user_path(username: j.user.username)
        - else
          = link_to j.user.name, show_user_path(username: j.user.username)
      %br
      = will_paginate @jobs, param_name: :page
      - if @jobs.count == 0
        %i= t('nothing_here')

= render file: 'browse/_modal.html.haml'

