/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $content-background-color: rgba(248, 248, 248, 0.9);

 body {
  background-attachment: fixed;
  background-image: image-url("background_pic.jpg");
  font-family: "Open Sans", sans-serif;
  margin-top: 5em;
  .content {
    padding: 1em;
    background-color: $content-background-color;
    border-radius: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
  nav {
    font-family: "Exo", sans-serif;
  }
 }

 .captcha-center {
  table {
    width: 100%;
  }
 }

 textarea {
  resize: none;
 }

 .thumb {
  max-width: 50px;
 }

 .smaller {
  max-width: 100px;
 }

 .jumbotron {
  background-color: $content-background-color;
 }

 .logo {
  padding-top: 0.6em;
  max-width: 165px;
 }

 .margin-left {
  margin-left: 1em;
 }

 .navbar-right {
  li:hover {
    background-color: #000;
  }
 }
